streamlit
beautifulsoup4
lxml
requests
sentence-transformers
transformers
torch
langchain
langchain-community
langchain-core
langchain-groq
langsmith
langchain-text-splitters
faiss-cpu
pandas
scikit-learn
numpy
matplotlib
seaborn
altair
plotly
PyMuPDF
pdfplumber
pytesseract
SpeechRecognition
pydub
gTTS
pyttsx3
PyPDF2
python-docx
python-pptx
aiohttp
uvicorn
fastapi
httpx
tqdm
pydantic
python-dotenv
